<template id='queries-page-template'>
<div class='container'>
    <div class='row'>
        <span class='col-1' v-if='typeof user_name!="undefined"'>
            <router-link class='btn btn-sm btn-outline-secondary' tt='queries' to='/queries'></router-link>
        </span>
        <span :class='typeof user_name!="undefined"?"col-8":"col-9"'></span>
        <span v-if='internal_user_id!=0' class='col-3 text-right'>
            <router-link class='btn btn-sm btn-outline-secondary' :to="'/queries/'+widar.getUserName()" tt='my_queries'></router-link>
            <button class='btn btn-sm btn-outline-primary' tt='add_query' @click.prevent='add_query'></button>
        </span>
    </div>
    <div v-for='(query,query_num) in queries' class='row'>
        <div class='card col-12' style='margin-top:0.5rem;'>
            <div class="card-body">
                <h3 style='display:flex'>
                    <input v-if='internal_user_id==query.user_id' type='text' v-model='query.description' style='width: 100%' tt_placeholder='description' />
                    <span v-else style='width: 100%'>
                        {{query.description}}
                    </span>
                    <small style='white-space: nowrap; text-align: right'>
                        by <a :href="'https://www.wikidata.org/wiki/User:'+encodeURIComponent(query.user_name)" target='_blank' class='wikidata'>{{query.user_name}}</a><br/>
                        <small>
                            [<router-link tt='queries' :to='"/queries/"+query.user_name'></router-link>]
                        </small>
                    </small>
                </h3>
                <textarea v-if='internal_user_id==query.user_id' style='width:100%;font-size: 8pt; font-family: Courier' rows=3 v-model='query.sparql'></textarea>
                <textarea v-else style='width:100%;font-size: 8pt; font-family: Courier; background-color:#DDD' rows=3>{{query.sparql}}</textarea>
                <div class='row'>
                    <div class='col-6'>
                        <span tt='rerun_query'></span>
                        <label>
                            <input type='number' v-model='query.days' style='width: 4rem;' />
                            <span tt='days'></span>
                        </label>
                        <label>
                            <input type='number' v-model='query.hours' style='width: 4rem;' />
                            <span tt='hours'></span>
                        </label>
                    </div>
                    <div class='col-1'>
                        <span v-if='query.status!="OK"'>{{query.status}}</span>
                    </div>
                    <div class='col-5 text-right'>
                        <button v-if='internal_user_id==query.user_id' class='btn btn-sm btn-outline-primary' tt='save' @click.prevent='save_query(query_num)'></button>
                        <button v-if='internal_user_id==query.user_id && query.id!=0' class='btn btn-sm btn-outline-danger' tt='delete_query' @click.prevent='delete_query(query_num)'></button>
                        <a :href="'https://query.wikidata.org/#'+encodeURIComponent(query.sparql)" target='_blank' class='btn btn-sm btn-outline-success' tt='open_sparql'></a>
                        <router-link class='btn btn-sm btn-outline-secondary' :to="'/'+query.id" tt='commands'></router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</template>


<script>
'use strict';

let QueriesPage = Vue.extend ( {
    props : [ 'user_name' ] ,
    data : function () { return { queries:[] , start:0 , batch_size:50 } } ,
    created : function () {
        this.load_query_batch();
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        load_query_batch : function () {
            let me = this ;
            $.get ( './api.php' , {
                action: 'get_queries',
                start: me.start ,
                batch_size: me.batch_size ,
                user_name: me.user_name??''
            } , function ( d ) {
                if ( d.status != 'OK' ) {
                    alert ( d.status ) ;
                    return ;
                }
                $.each ( d.queries , function ( query_num , query ) {
                    query.hours = query.hours_between_runs % 24 ;
                    query.days = (query.hours_between_runs-query.hours)/24 ;
                } ) ;
                me.queries = d.queries ;
            } , 'json' ) ;
        } ,
        save_query : function ( query_num ) {
            //console.log(JSON.parse(JSON.stringify(query)));
            let me = this ;
            let query = { ...me.queries[query_num] };
            query.hours_between_runs = query.days*24+query.hours ;
            delete query.days ;
            delete query.hours ;
            $.get ( './api.php' , {
                action: 'save_query',
                query: JSON.stringify(query)
            } , function ( d ) {
                if ( d.status != 'OK' ) {
                    alert ( d.status ) ;
                    return ;
                }
                Vue.set ( me.queries , query_num , d.query ) ;
            } ) ;
        } ,
        delete_query : function ( query_num ) {
            //console.log(JSON.parse(JSON.stringify(query)));
            let me = this ;
            if ( !confirm(tt.t('confirm_delete')) ) return ;
            $.get ( './api.php' , {
                action: 'delete_query',
                query_id: me.queries[query_num].id
            } , function ( d ) {
                if ( d.status != 'OK' ) {
                    alert ( d.status ) ;
                    return ;
                }
                me.queries.splice(query_num,1);
            } ) ;
        } ,
        add_query : function () {
            let me = this ;
            let query = me.get_empty_query() ;
            me.queries.unshift ( query ) ;
        } ,
        get_empty_query : function () {
            return {"id":"0","description":"","sparql":"","user_id":""+internal_user_id,"last_run":"","next_run":"","hours_between_runs":"168","hours":0,"days":7,"status":"OK","timestamp_created":"","user_name":widar.getUserName()} ;
        }
    } ,
    template:'#queries-page-template'
} ) ;
</script>
